<div class="h-full flex flex-col items-center">
    <div class="jacob-font text-6xl mt-4">
        <span class="text-yellow-500">J</span>
        <span class="text-blue-300">A</span>
        <span class="text-orange-400">C</span>
        <span class="text-green-500">O</span>
        <span class="text-red-400">B</span>
    </div>
    <div class="flex flex-col items-center mt-16 gap-2">
        <button class="nav-button text-lg" style="width: 200px" matButton="filled" (click)="navigateToHome()">
            <mat-icon>home</mat-icon>Home
        </button>
        <button class="nav-button text-lg" style="width: 200px" matButton="filled" (click)="navigateToBoard()">
            <mat-icon>space_dashboard</mat-icon>Board
        </button>
    </div>
</div>
